<h2>Meet the Pod</h2>
<div id="members" class="card-container profile-card-container">
    <script>
        // A helper function to get data from github API
        async function getData(url) {
            const res = await fetch( url );
            const data = res.json();
            return data;
        }

        // Compute the score for each fellow based on the amount of contributions.
        async function computeScore(fellows, repo_owner, repo_name) {
            // Helper function to compute Issues/PR score
            function computeIssuesScore(obj, item) {
                let isPR = 0;

                // Determine if the issue is a PR or not (Because Github treats PRs as issues too)
                isPR = (item.pull_request != undefined) + 0

                // Score for Issue/PR Author (Increase the score by 1 if it's not initialized otherwise initialize it to 1)   
                obj[item.user.html_url] = [
                    ((obj[item.user.html_url]) ? obj[item.user.html_url][0] : 0) + isPR, 
                    ((obj[item.user.html_url]) ? obj[item.user.html_url][1] : 0) + !isPR
                ]

                // Score for assigned fellows to the Issue/PR (Increase the score by 1 if it's not initialized otherwise initialize it to 1)
                for (let assignee of item.assignees) {
                    // Don't increase the score of the Author again
                    if (assignee.html_url != item.user.html_url) {
                        obj[assignee.html_url] = [
                            ((obj[assignee.html_url]) ? obj[assignee.html_url][0] : 0) + isPR,
                            ((obj[assignee.html_url]) ? obj[assignee.html_url][1] : 0) + !isPR
                        ]
                    }
                    
                }

                return obj;
            }

            // count total commits per user
            const rawCommitData = await getData(`https://api.github.com/repos/${repo_owner}/${repo_name}/stats/contributors`);

            let commitData = rawCommitData.reduce((obj, item) => (obj[item.author.html_url] = item.total, obj) ,{});

            // count created issues and PRs (closed ones) per user
            const rawClosedIssuesData = await getData(`https://api.github.com/repos/${repo_owner}/${repo_name}/issues?state=closed&per_page=99`)

            let closedIssuesData = rawClosedIssuesData.reduce((obj, item) => computeIssuesScore(obj, item), {});

            // count created issues and PRs (opened ones) per user
            const rawOpenedIssuesData = await getData(`https://api.github.com/repos/${repo_owner}/${repo_name}/issues`)
            
            let openedIssuesData = rawOpenedIssuesData.reduce((obj, item) => computeIssuesScore(obj, item), {});

            // Assign the score to each fellow and calculate total score
            for (const fellow of fellows) {
                fellow.commits += (!commitData[fellow.github]) ? 0 : commitData[fellow.github];
                
                let closedPRs = !(closedIssuesData[fellow.github]) ? 0 : closedIssuesData[fellow.github][0],
                    closedIssues = !(closedIssuesData[fellow.github]) ? 0 : closedIssuesData[fellow.github][1],
                    openedPRs = !(openedIssuesData[fellow.github]) ? 0: openedIssuesData[fellow.github][0],
                    openedIssues = !(openedIssuesData[fellow.github]) ? 0: openedIssuesData[fellow.github][1];

                fellow.pullRequests += closedPRs + openedPRs;
                fellow.issues += closedIssues + openedIssues;
                
                fellow.comments += 0; // TODO
                fellow.total += fellow.commits + fellow.pullRequests + fellow.issues + fellow.comments;
            }

            fellows.sort((a, b) => {
                return (a.total < b.total) ? 1 : ((b.total < a.total) ? -1 : 0);
            }); // sort fellows based on total commits

            return fellows
        }

        // Create fellows' Cards and render them 
        async function createFellowCards() {
            let fellows = []; // initialize array holding fellows

            // extract github usernames from fellows.yml
            {% for item in site.data.fellows %} 
                fellows.push({
                    github: ("{{ item.github }}") ? "https://github.com/{{ item.github }}" : null,
                    name: "{{ item.name }}",
                    location: "{{ item.location }}",
                    linkedin: ("{{ item.linkedin }}") ? "https://www.linkedin.com/in/{{ item.linkedin }}" : null,
                    twitter: ("{{ item.twitter }}") ? "https://twitter.com/{{ item.twitter }}" : null,
                    resume: "{{ item.resume }}",
                    commits: 0,
                    pullRequests: 0,
                    issues: 0,
                    comments: 0,
                    total: 0.
                });
            {% endfor %}

            
            const repos = [
                {owner: "MLH-Fellowship", name: "prep-portfolio-22.AUG.PREP.2"},
            ]
            
            for (repo of repos) {
                fellows = await computeScore(fellows, repo.owner, repo.name);
            }

            const cardContainer = document.getElementsByClassName('profile-card-container')[0];

            let fellowsHTML = "";
            let lock = 3;

            for (const fellow of fellows) {
                let img = '';

                if (lock && lock--) {
                    img = `<img src="./assets/img/icons/crown${3-lock}.png" class="card-badge" />`;
                }

                let cardHTML = `
                <div class="card">
                    <div class="info">
                        ${img}
                        <a href="fellows/${fellow.name.replace(/ /g, '-').toLowerCase()}">
                            <p class="title"> ${ fellow.name }</p>
                            <p class="location"> ${ fellow.location }</p>
                        <a>
                        <div class="icon">
                            <a ${(!fellow.github) ? "hidden" : ""} href=${fellow.github} target="_blank">
                                <i class="fab fa-github fa-lg"></i>                    
                            </a>
                            <a ${(!fellow.twitter) ? "hidden" : ""} href=${fellow.twitter} target="_blank">
                                <i class="fab fa-twitter fa-lg" style="color: #1DA1F2;"></i>                
                            </a>
                            <a ${(!fellow.resume) ? "hidden" : ""} href=${fellow.resume} target="_blank">
                                <img class="social-link-icon" src="../assets/img/icons/resume.png">
                            </a>
                            <a ${(!fellow.linkedin) ? "hidden" : ""} href=${fellow.linkedin}>
                                <i class="fab fa-linkedin-in fa-lg" style="color: #0A66C2;"></i>
                            </a>
                        </div>
                        <p class="card-score">Score: ${fellow.total}
                            <span class="card-score-breakdown">
                                Commits: ${fellow.commits}<br>
                                Pull requests: ${fellow.pullRequests}<br>
                                Issues: ${fellow.issues}<br>
                                <!-- Comments: ${fellow.comments}<br> -->
                            </span>
                        </p>
                    </div>
                </div>
                `
                fellowsHTML += cardHTML;
            }
            cardContainer.innerHTML += fellowsHTML;
        }

        createFellowCards();
    </script>
</div>