<h2>Meet the Pod</h2>
<div class="card-container">
    {% for item in site.data.fellows %}
    <div class="card">
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
            <div class="icon">
                <a href= {{ item.github }}>
                    <img class="social-link-icon" src="../assets/img/icons/linkedin.png">                    
                </a>
                <a href= {{ item.twitter }}>
                    <img class="social-link-icon" src="../assets/img/icons/twitter.png">                
                </a>
                <a href= {{ item.resume }}>
                    <img class="social-link-icon" src="../assets/img/icons/resume.png">
                </a>
                <a href= {{ item.linkedin }}>
                    <img class="social-link-icon" src="../assets/img/icons/github.png">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>