<header class="nav-bar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo fade-in">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
        <div id="mobile-nav">Menu</div>
        <div class="nav-list hidden">
            <a href="#members">
                <div class="nav-item">
                    Members
                </div>
            </a>
            <a href="#projects">
                <div class="nav-item">
                    Projects
                </div>
            </a>
            <a href="#dark-mode" class="toggle-dark-mode">
                <div class="nav-item">
                    <i id="dark-icon" class="fa fa-moon"></i>
                    <span id="dark-text"> SunSet </span>
                </div>
            </a>
        </div>
    </div>
</header>

<script>
    let navLogo = document.getElementsByClassName("nav-logo")[0];
    let navList = document.getElementsByClassName("nav-list")[0];
    let darkMode = document.getElementsByClassName("toggle-dark-mode")[0];
    let mobileNav = document.getElementById("mobile-nav");

    window.addEventListener("scroll", function () {
        let scrollTop = window.pageYOffset;
        if (scrollTop > 0) {
            navLogo.classList.add("fade-in");
            navLogo.classList.add("visible");
        }
    });

    mobileNav.onclick = function() {
        if (navList.classList.contains("hidden")) {
            navList.classList.remove("hidden");
        }
        else {
            navList.classList.add("hidden");
        }
    };

    darkMode.onclick = function() {
        darkmode();
    }

    function darkmode() {
        // console.log("HELLO WORLD!")
        let enabled = localStorage.getItem('dark-mode')

        if (enabled === null) {
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                enable();
            }
        } else if (enabled === 'true') {
            enable()
        }

        if (localStorage.getItem('dark-mode') === 'false') {
            enable();
        } else {
            disable();
        }
    }

    function enable()  {
        DarkReader.setFetchMethod(window.fetch)
        DarkReader.enable();
        localStorage.setItem('dark-mode', 'true');
        
        const span = document.getElementById('dark-text');
        span.textContent = 'SunRise';
        
        const i = document.getElementById('dark-icon');
        i.className = 'fa fa-sun';
    }

    function disable() {
        DarkReader.disable();
        localStorage.setItem('dark-mode', 'false');

        const span = document.getElementById('dark-text');
        span.textContent = 'SunSet';

        const i = document.getElementById('dark-icon');
        i.className = 'fa fa-moon';
    }
</script>