@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'blog';
@import 'map';
@import 'footer';

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  min-height: 100vh;
  position: relative;
  /* margin-bottom: 50px; */
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  background-color: #e9e9f3;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}
.card img {
  max-width: 100%;
  border-radius: .15rem;
  margin-bottom: .5em;
}

.card:hover {
  transform:scale(1.05);
  transition:transform 0.5s;
}

.card-badge {
  width: 70px;
  height: 70px;
  position: absolute;
  right: -30px;
  top: -30px;
  transform: rotate(45deg);
}

.card-score {
  position: absolute;
  right: 10px;
  top: 60%;
  background-color: #bbb;
  border-radius: 5px;
  padding: 1px 3px;
}

a {
  color: black;
  cursor: pointer;
}

.info {

    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
    }

    .owner {
      font-size: 0.8em;
      margin-top: -4px;
      margin-bottom: 10px;
    }
    .owner .owner-name {
      font-weight: 600;
    }

    .owner-name {
      color: rgb(27, 54, 100);
    }

    .location, .description {
        font-size: medium;
        font-weight: 400;
    }

    .dates {
        font-size: small;
        color: #404040;
    }

    .summary {
      font-size: medium;
      border-top: 1px solid #404040;
      margin-top: 8px;
      // margin-bottom: 8px;
      padding-top: 8px;
    }

    .github-link {
      margin-top: 20px;
      display: block;
    }
}

.icon {
  flex-wrap: wrap;
  flex-direction: column;
  display: flexbox;

  .social-link-icon {
    width: 8%;
    height: 8%;
  }

  a {
    padding-right: 2px;
  }
}

.scrollToTopBtn {
  cursor: pointer;
  
  position: fixed;
  bottom: 70px;
  right: 30px;
  width: 48px;
  
  z-index: 1005;
  
  opacity: 0;
  
  transform: translateY(100px);
  transition: all .5s ease;
  
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  text-decoration: none;
}

.showScrollToTopBtn {
  opacity: 1;
  transform: translateY(0)
}