.profile {
    background-color: #133667 !important;
    text-align: center;
    height: fit-content;
    margin-bottom: 50px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    img {
        border-radius: 50%;
        max-width: 13em;
        max-height: 13em;
        margin-left: auto;
        margin-right: auto;
        display: inline;
        padding: 20px;
    }
    .profile-picture {
        margin-bottom: 20px;
        padding-top: 10px;
        min-height: 200px;
    }
}