.profile {
    background-color: #133667 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    text-align: center;
    height: fit-content;
    margin-top: 4.5rem;
    margin-bottom: 50px;

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }

    .profile-pic-container {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        margin: 20px
    }

    .profile-pic-container img {
        width: 100%; 
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .profile-pic-container:hover{
        transform: scale(1.3);
        transition: 0.5s;
    }
    .profile-picture {
        margin-bottom: 20px;
        padding-top: 10px;
        min-height: 200px;
    }
}
