---
layout: default
---

<div class="banner">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/assets/img/logo.svg"/>
            </a>
        </div>
        <div class="title-with-image">
            <div class="image">
                <img src="../assets/img/{{page.img}}">
            </div>
            <div class="title">
                {{page.title}}
            </div>
        </div>
    </div>
</div>

<div class="container page">
    <h2 id="inspiration">Description</h2>

<p>{{page.description}}</p>

<h2 id="what-it-does">Favourite Programming Languages</h2>

<p>{{page.favLangs}}</p>

<h2 id="how-we-built-it">Interests outside of Technology</h2>

<p>{{page.interests}}</p>

<h2 id="challenge-we-ran-into">University</h2>

<p>{{page.university}}</p>

</div>