---
layout: defaultInner
---

<div class="banner">
    <div class="container">
        <div class="logo">
            <a href="../">
                <img src="../assets/img/logo.svg"/>
            </a>
        </div>
        <div class="title-with-image">
            <div class="image">
                <img src="../assets/img/{{page.img}}">
            </div>
            <div>
                <div class="title">
                    {{page.title}}
                </div>
                <div class="icon">
                    {% if page.github %}
                    <a href=https://github.com/{{page.github}} target="_blank">
                        <i class="fab fa-github fa-lg"></i>                    
                    </a>
                    {% endif %}
                    {% if page.twitter %}
                    <a href=https://twitter.com/{{page.twitter}} target="_blank">
                        <i class="fab fa-twitter fa-lg"></i>                
                    </a>
                    {% endif %}
                    {% if page.resume %}
                    <a href='{{page.resume}}' target="_blank">
                        <img class="social-link-icon" src="../assets/img/icons/resume.png">
                    </a>
                    {% endif %}
                    {% if page.linkedin %}
                    <a href='https://www.linkedin.com/in/{{page.linkedin}}' target="_blank">
                        <i class="fab fa-linkedin-in fa-lg"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container page">
    <h2 id="inspiration">About</h2>

<p>{{page.description}}</p>

<h2>Favorite Programming Languages</h2>

<p>{{page.favLangs}}</p>

<h2>Interests outside of Technology</h2>

<p>{{page.interests}}</p>

<h2>University</h2>

<p>{{page.university}}</p>

</div>