---
layout: default
---

<div class="banner">
    <div class="container">
        <div class="left-arrow">
            <a href="/">
                <img src="/assets/img/icons/left_arrow.png"/>
            </a>
        </div>
        <div class="logo">
            <a href="/">
                <img src="/assets/img/logo.svg"/>
            </a>
        </div>
        <div class="title">
            {{ page.title }}
        </div>
    </div>
</div>

<div class="container page">
    {{ content }}
</div>